{:paths     []
 :deps      {org.clojure/clojure              {:mvn/version "1.12.0"}
             ;; repl / development related
             io.github.tonsky/clj-reload      {:mvn/version "0.9.6"}
             io.github.noahtheduke/lazytest   {:mvn/version "1.8.0"}
             ;; bricks
             ; ...
             brick/uitoken                    {:local/root "../bricks/uitoken"}}
 
 :aliases   {:nREPL       {:extra-paths     ["dev"]
                           :extra-deps      {nrepl/nrepl                      {:mvn/version "1.1.0"}}}}}