{:deps          {}
 :dev-http      {8080       ["resources/public" "classpath:public"]
                 8081       ["resources/portfolio/public" "classpath:public"]}
 :builds
 {:ui           {:target      :esm
                 :runtime     :browser
                 :output-dir  "resources/public/ui/js/compiled"
                 :modules     {:ui {:exports {ui viska.ui/main}}}
                 ; :modules   {:main            {:entries [viska.core] 
                 ;                               :init-fn viska.core/main}}
                 ; :dev       {:compiler-options {:externs []}
                 ;             :output-dir      "resources/app/public/js"}
                 }
  
  :app          {:target      :node-script
                 :output-to   "resources/public/app/js/compiled/app.js"
                 :main        viska.app/main
                 ;:externs     ["resources/app/public"]
                 ;:devtools    {:preloads [devtools.preload]}
                 }
  
    ; :app          {:target        :npm-module
    ;                :output-dir    "resources/app/public/js/compiled"
    ;                :entries        [viska.app]
    ;                }


  :portfolio    {:target    :browser
                 :modules   {:main            {:init-fn viska.scenes/main}}
                 :dev       {:output-dir      "resources/portfolio/public/js"}}

  ; :test         {:target    :node-test
  ;                :output-to "resources/test/tests.js"
  ;                :ns-regexp "-test$"
  ;                :autorun   true}
  }}